// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.color-red {
    color: $red;
}

.color-gre {
    color: $green;
}

.color-ind {
    color: $indigo;
}

.color-blue {
    color: $blue;
}

.color-drak {
    color: $drak;
}

.pr {
    text-align: right;
}

.upload-done {
    li {
        position: relative;
    }

    li:after {
        content: "×";
        color: #FF5722;
        font-size: 20px;
        width: 20px;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
}

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
.layadmin-user-login-main {
    width: 375px;
    margin: 0 auto;
    box-sizing: border-box;
}

#LAY-user-login,
.layadmin-user-display-show {
    display: block !important;
}

.layadmin-user-login {
    position: relative;
    left: 0;
    top: 0;
    padding: 110px 0;
    min-height: 100%;
    box-sizing: border-box;
}

.layadmin-user-login-header {
    text-align: center;
}

.layadmin-user-login-box {
    padding: 20px;
}

.layadmin-user-login-body .layui-form-item {
    position: relative;
}

.layadmin-user-login-icon {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    line-height: 36px;
    text-align: center;
    color: #d2d2d2;
}

.layadmin-user-login-body .layui-form-item .layui-input {
    padding-left: 38px;
}

.layadmin-user-jump-change {
    float: right;
}

.layadmin-link {
    color: #029789 !important;
}

[lay-href],
[lay-tips],
[layadmin-event] {
    cursor: pointer;
}

// alert
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;

    i {
        position: absolute;
        right: 10px;
        top: 13px;
        cursor: pointer;
        transition: all 0.6s;
    }

    i:hover {
        transform: scale(1.4);
    }
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.password-request-page>.layui-body,
.register-page>.layui-body,
.login-page>.layui-body,
.settings-show-page>.layui-body,
.speechs-index-page>.layui-body,
.user-settings-page>.layui-body,
.system-users-page>.layui-body,
.root-page>.layui-body,
.customers-show-page>.layui-body,
.company-secrch-page>.layui-body,
.company-upload-page>.layui-body {
    left: 0px;
    margin: 0px auto;
    padding: 30px 0;
}

.root-page {
    .auth {
        text-align: center;

        .avatar {
            width: 100px;
            height: 100px;
            display: inline-block;
            border-radius: 60px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .info {
            margin: 10px;

            p {
                color: #888;
                font-size: 16px;
                line-height: 28px;
            }
        }

    }

    .step {
        margin: 0 auto;
        text-align: center;

        .step-item {
            margin: 10px 50px;
            display: inline-block;
            width: 96px;
            height: 96px;

            .step-header {
                display: inline;
                color: #888;
                font-size: 13px
            }

            .step-body {
                color: #888;
                border: 3px solid #009688;
                border-radius: 60px;
                width: 90px;
                height: 90px;
                text-align: center;
                line-height: 90px;
            }
        }

        .arrow-box {
            width: 30px;
            height: 96px;
            margin: 20px auto;
            position: relative;
            display: inline-block;
        }

        /*右箭头*/
        .right {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 20%;
        }

        .right-arrow1,
        .right-arrow2 {
            width: 0;
            height: 0;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            border-top: 10px transparent dashed;
            border-right: 10px transparent dashed;
            border-bottom: 10px transparent dashed;
            border-left: 10px white solid;
            overflow: hidden;
        }

        .right-arrow1 {
            left: 1px;
            /*重要*/
            border-left: 10px #009688 solid;
        }

        .right-arrow2 {
            border-left: 5px white solid;
        }
    }
}

/* 分页 */

.pagination-box {
    position: relative;
    width: 100%;
    height: 32px;
}

.pagination-box .pagination {
    float: right;
}

.pagination-box .pagination .active span {
    color: #03A9F4;
    padding: 0 10px;
}

.pagination-box .pagination .disabled span {
    padding: 0 10px;
}

.pagination-box .pagination li {
    float: left;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    height: 30px;
    border: 1px solid #e2e2e2;
}

.pagination-box .pagination li a {
    padding: 0 10px;
}

.pagination-box .pagination li a:hover {
    padding: 0 10px;
    color: #03A9F4;
}

// 今日目标             //客户跟进
.company-follow-page,
.follow-follow-page {

    .taday-body {
        display: block;
        padding: 10px 15px;
        background-color: #f8f8f8;
        color: #999;
        border-radius: 2px;
        transition: all .3s;
        -webkit-transition: all .3s;

        h3 {
            padding-bottom: 10px;
            font-size: 12px;
        }

        p>cite {
            font-style: normal;
            font-size: 30px;
            font-weight: 300;
            color: #009688;
        }
    }

    .taday-body:hover {
        background-color: #CFCFCF;
        color: #888;
    }

    .layui-card {
        .layui-card-body {
            ul {
                li {
                    color: #999;

                    a {
                        color: #999;
                        width: 170px;
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    span {
                        display: inline-block;
                        overflow: hidden;
                    }
                }
            }
        }

        .layui-card-header {
            font-size: 16px;

            span {
                font-size: 11px;
                color: #999;
            }
        }
    }
}

.follow-show-page {
    .simditor {

        .simditor-body {
            min-height: 100px !important;
        }

        .simditor-toolbar>ul>li>.toolbar-item {
            height: auto;
        }
    }

    .layui-input-block {
        margin-left: 0;
    }

    .layui-form-item .layui-form-checkbox[lay-skin=primary] {
        margin-top: 0px;
    }

    .layui-form-item {
        .short-input {
            width: 162px;
        }

        .no-right {
            margin-right: 0px;
        }

        .delete-contract {
            cursor: pointer;
        }
    }

}

.layui-form-item {
    .delete-contract {
        cursor: pointer;
    }

    #upload-contract-result {
        padding-right: 20px;
        word-wrap: break-word;
    }
}

.user-settings-page {

    .layui-upload-img {
        max-width: 180px;
    }

    .userinfo {
        color: #a5a5a5;
        font-size: 16px;
        margin: 10px 0px;
    }
}

.customer-form {
    .layui-input-block {
        margin-left: 0px;
    }

    .short-input {
        width: 150px;
    }

    .no-right {
        margin-right: 0px;
    }

    .upload-done {
        ul>li {
            padding: 2px 10px;
            color: #888;
        }
    }
}

.company-show-page {

    .simditor .simditor-body {
        min-height: 100px !important;
    }

    .company-info {
        .phone {
            background: #38c172;
            color: #fff;
            font-size: 40px;
            line-height: 50px;
        }

        h2 {
            color: #555;
        }

        p {
            line-height: 30px;
            color: #555;
            font-size: 15px;

            strong {
                font-size: 20px;
            }
        }
    }
}

.company-show-page {
    .speech-box {
        .layui-card-body {
            padding: 10px 0px;

            .layui-collapse {
                border-width: 0px;
                border-style: none;
                border-radius: 0px;
            }
        }

    }

    .spches-form {
        .layui-form-item {
            .layui-input-block {
                margin-left: 0px;
            }

        }
    }
}


.customers-show-page {

    .layui-table-cell {
        .download {
            color: #03A9F4;
        }
    }
}

.settings-show-page {
    .business {
        .btn {
            text-align: right;
        }
        .layui-form-item {
            margin-bottom: 11px;
        }
    }

    .performance {
        .btn {
            text-align: center;
            margin-left: 0px;
        }

        .layui-form-label {
            width: 60px;
        }

        .layui-form-item {
            .layui-input-inline {
                width: 110px;
            }
        }

    }

    .notice {
        .layui-input-block {
            margin-left: 0px;
        }

        .btn {
            text-align: right;
        }

        .tips {
            font-size: 12px;
            color: #aaa;
        }
    }

    .report {

        .layui-form-item {
            .scope {
                width: 300px;
            }

            .employee {
                width: 150px;
            }
            .inbox{
                width: 216px;
            }

            .repeat {
                width: 340px;
                .layui-form-label{
                    width: 84px;
                    padding-left: 0px;
                    text-align: left;
                }
            }
            .layui-input-inline{
                margin-bottom: 8px;
            }
        }

        .btn {
            text-align: right;
            width: 336px;
        }
    }
    .customer{
        .days{
            width:238px;
        }
        .btn{
            text-align: right;
            width:80px;
            margin-right: 0px;
        }
    }
}

.speechs-index-page,
.system-users-page,
.settings-show-page,
.customers-show-page {
    .layui-body {
        padding-top: 0px;
    }
}
